.cover-images {
    filter: brightness(50%);
    height: 75vh !important;
}

.carousel-heading-top {
    top: 30%;
}

.student-feedback-img {
    width: 55px;
    height: 55px;
}

.fa-star,
.fa-star-half-stroke {
    color: gold;
}

.feedback-contron-icon {
    width: 0%;
}